<<<<<<< Updated upstream:ressources/test.css
*

{
    margin-top:0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

header
/* creation header */
{
    display:flex;
    justify-content: space-between;
    position: fixed;
    left: 0; right: 0; top: 0;
    height: 12%;
    z-index:900;
    border-bottom:solid;
    border-width:3%;
    border-color:#4472c4;
    padding-top:1%;
    background-color:white;
	
}

#langues{
	/* affichage langues */
    min-width: 14%;
    padding-top: 1.2%
}

.image_site{
    margin-top: 0,95%;
    width:5%;
    min-width:16%;
}

/*Barre de navigation*/
nav
{
    width: 100%;
    margin-left: 10%;
    background-color:white;;
    position: relative;
    top: 0%;
}
nav header
{
    display:flex;
}

#element_nav_generale
{
	/* taille carac */
    font-size:20px;        
    font-weight:normal;
    margin-top:10px;
    margin-right:10px;
    font-weight:bold;
    padding-right:5px;
    min-width: 700px
}
#menu_utilisateur
{
    display:flex;
    flex-direction: column;
    text-decoration:none;
    font-size:18px;
    position: fixed;
    left:5px; top:100px;
    width:1%;
    
    background-color:white;
    text-align:justify;
    box-shadow:6px 6px 5px RGBa(120,120,120,0.5);
    font-size: 20px;
	visibility:hidden;
}

nav ul
{
    list-style-type: none;
}

nav ul li
{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
	
}

#menu_utilisateur ul li{
    float: left;
    width: 100%;
    height:100%;
    font-size: 20px;
    position: relative;
    text-align:center;
}

nav ul::after
{
    content: "";
    display: table;
    clear: both;
}

#menu_utilisateur ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a
{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 6px 0px;
    margin:2px 0px;
}

#menu_utilisateur li{
    width:100%;
}

#menu_utilisateur a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

#menu_utilisateur a:hover{
    color: #4472c4;
    border-left: 4px solid #4472c4;
    background-color:RGBa(200,200,200,0.5);
}

nav a:hover
{
    color: #4472c4;
    border-bottom: 4px solid #4472c4;
    background-color:RGBa(200,200,200,0.5);
}

.sous
{								/*Création du menu déroulant avec une ombre. Le menu déroulant est caché*/
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#menu_utilisateur .sous{
    margin-left:100%;
    margin-top:-43px;
    box-shadow:6px 6px 5px RGBa(120,120,120,0.5);
    border-left: 4px solid #4472c4;
}


nav > ul li:hover .sous
{								/*On affiche le menu déroulant, qui auparavant est caché, au survol de la souris*/
    display: block;
}

.sous li
{								/*Css du sous menu*/
    float: none;
    width: 100%;
    text-align: left;
}

.sous a
{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover
{
    color:orange;
    border-bottom: none;
    background-color: RGBa(200,200,200,0.5);
}


#menu_utilisateur .sous a:hover{
    color:orange;
    border-left:4px solid orange;
}

.menu_deroulant > a::after
{										/*Affichage d'un élément après le lien*/
    content:"▼";
    font-size: 12px;
}



#menu_utilisateur{
    margin-top:50px;
    font-weight:bold;
}

.drapeau
{
    border-style:solid;
    border-color:white;
    padding: 0;
    max-width: 50px;
    max-height: 40px;
}

.drapeau:hover
{
    border-style:solid;
    border-color:gold;
}

.drapeau-link{
    padding: 0;
    text-decoration: none;
    max-width: 50px;
    max-height: 40px;
}

#contenu
{
    margin-top: 10%;
    padding-left: 18%;
    padding-right:20px;
    text-align:justify;
    min-height: 550px;
}

section{
}

footer{
    flex-direction: column;
    left: 0; right: 0; bottom: 0;
    height: 100px;
    z-index:900;
    border-top:solid;
    border-width:2px;
    border-color:black;
    padding-top:15px;
}

#introduction{
    width:80%;
    background-color:rgb(208,232,255);
    /*border:3px solid rgb(208,232,255);*/
    border-radius:50px;
}
#introduction p{
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: justify;
}

#plus{
    width: 80%;
    text-align:right;
    padding-top: 3px;
}

#plus a{
    font-style: none;
    font-weight:none;
    text-decoration: none;
    color: RGBa(160,160,160,0.7);
}

#presentation{
    display:flex;
    justify-content: center;
}

li{
    list-style-type: none;

}

html
{
    height: 100%;
}

#page{
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background: rgb(192, 189, 232);
    padding: 0;
}

#footer{
    display: flex;
    justify-content: center;
}

#footer li{
    margin:5px;
}

#footer a{
    font-style: none;
    font-weight:none;
    text-decoration: underline;
    color: RGBa(0,0, 0,1);
}

#createurs{
    flex-direction: column;
    padding-left:3%;
}

#affichage_createur{
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 3px;
}

#createurs li{
    font-size: 0.6em;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
}

label{
    margin-left: 20px;
	margin-top:5%;
	margin-bottom:5%;
    font-size: 16px;
	color: rgb(0,0,0);
	font-family: Avenir, sans-serif;
	
}

fieldset{
    max-width: 500px; /*réduction du cadre du formulaire à droite*/
    margin: auto;
    background-color: rgb(208,232,255);
    padding:20px;
    margin-bottom: 50px;
}

fieldset p{
    display: flex;
    flex-direction: column;
}

input{
    width: 30%;
    height: 35px;
    margin-left: 20px;
	border-radius: 15px;
	font-weight: bold;
	font-size: 18px;
}

.age{
    width:70px;
	
}
select{
    margin-left:20px;
    width:120px;
}

.email{
    width: 200px;
}

.bouton{
    width: 150px;
    margin:auto;
}
.indication{
    font-style: italic;
    padding:20px;
}

.image{
    margin:auto;
}
.noms{
    display: flex;
}
.motpasse{
    display: flex;
}

#motpasseoublie{
    margin-top: -35px;
    margin-left:170px;

}
#motpasseoublie a{
    color:RGBa(160,160,160,1);
    font-style: none;
    text-decoration: none;
    font-size: 10px;
}

.bouton{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.bouton_1{
    height: 60px;
    width: 200px;
    margin-bottom: 20px;
    margin-left:-150px;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px grey;
}

.bouton_2{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin: auto;
}

.form-group
{
    margin: 10px auto; /**écart entre trucs formulaire**/
    color: #19BED4;
}

.btn-submit
{
    margin-left: auto;
    color: #2E1760;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 30px;
    font-size: 25px;
    width: 335px;
    height: 80px;
	margin-bottom: 5%;
    text-transform: uppercase;
    background-color: rgb(208,232,255);
}












=======
*

{
    margin-top:0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

header
    /* creation header */
{
    height: auto;
    display:flex;
    justify-content: space-between;
    position: fixed;
    left: 0; right: 0; top: 0;
    z-index:900;
    border-bottom:solid;
    border-color:#4472c4;
    padding-top:1%;
    padding-bottom: 1%;
    background-color:white;

}

#langues{
    /* affichage langues */
    min-width: 14%;
    padding-top: 1.2%
}

.image_site{
    margin-top: auto;
    margin-bottom: auto;
}

/*Barre de navigation*/
nav
{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;;
    position: relative;
    top: 0;
}
nav header
{
    display:flex;
}

#element_nav_generale
{
    /* taille carac */
    font-size:20px;
    margin-top:10px;
    margin-right:10px;
    font-weight:bold;
    padding-right:5px;
    min-width: 700px
}
#menu_utilisateur
{
    display:flex;
    flex-direction: column;
    text-decoration:none;
    position: fixed;
    left:5px; top:100px;
    width:1%;

    background-color:white;
    text-align:justify;
    box-shadow:6px 6px 5px RGBa(120,120,120,0.5);
    font-size: 20px;
    visibility:hidden;
}

nav ul
{
    list-style-type: none;
}

nav ul li
{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;

}

#menu_utilisateur ul li{
    float: left;
    width: 100%;
    height:100%;
    font-size: 20px;
    position: relative;
    text-align:center;
}

nav ul::after
{
    content: "";
    display: table;
    clear: both;
}

#menu_utilisateur ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a
{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 6px 0px;
    margin:2px 0px;
}

#menu_utilisateur li{
    width:100%;
}

#menu_utilisateur a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

#menu_utilisateur a:hover{
    color: #4472c4;
    border-left: 4px solid #4472c4;
    padding-top: -4px;
    background-color:RGBa(200,200,200,0.5);
}

nav a:hover
{
    color: #4472c4;
    border-bottom: 4px solid #4472c4;
    background-color:RGBa(200,200,200,0.5);
}

.sous
{								/*Création du menu déroulant avec une ombre. Le menu déroulant est caché*/
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#menu_utilisateur .sous{
    margin-left:100%;
    margin-top:-43px;
    box-shadow:6px 6px 5px RGBa(120,120,120,0.5);
    border-left: 4px solid #4472c4;
}


nav > ul li:hover .sous
{								/*On affiche le menu déroulant, qui auparavant est caché, au survol de la souris*/
    display: block;
}

.sous li
{								/*Css du sous menu*/
    float: none;
    width: 100%;
    text-align: left;
}

.sous a
{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover
{
    color:orange;
    border-bottom: none;
    background-color: RGBa(200,200,200,0.5);
}


#menu_utilisateur .sous a:hover{
    color:orange;
    border-left:4px solid orange;
}

.menu_deroulant > a::after
{										/*Affichage d'un élément après le lien*/
    content:"▼";
    font-size: 12px;
}



#menu_utilisateur{
    margin-top:50px;
    font-weight:bold;
}

.drapeau
{
    border-style:solid;
    border-color:white;
    padding: 0;
    max-width: 50px;
    max-height: 40px;
}

.drapeau:hover
{
    border-style:solid;
    border-color:gold;
}

.drapeau-link{
    padding: 0;
    text-decoration: none;
    max-width: 50px;
    max-height: 40px;
}

#contenu
{
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    text-align:justify;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 550px;
}

section{
}

footer{
    flex-direction: column;
    left: 0; right: 0; bottom: 0;
    height: 100px;
    z-index:900;
    border-top:solid;
    border-width:2px;
    border-color:black;
    padding-top:15px;
}

#introduction{
    width:80%;
    background-color:rgb(208,232,255);
    /*border:3px solid rgb(208,232,255);*/
    border-radius:50px;
}
#introduction p{
    padding-left:50px;
    padding-right:50px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: justify;
}

#plus{
    width: 80%;
    text-align:right;
    padding-top: 3px;
}

#plus a{
    text-decoration: none;
    color: RGBa(160,160,160,0.7);
}

#presentation{
    display:flex;
    justify-content: center;
}

li{
    list-style-type: none;

}

html
{
    height: 100%;
}


#page{
    background: #BFBCE6;
    padding: 0;
}

#footer{
    display: flex;
    justify-content: center;
}

#footer li{
    margin:5px;
}

#footer a{

    text-decoration: underline;
    color: RGBa(0,0, 0,1);
}

#createurs{
    flex-direction: column;
    padding-left:3%;
}

#affichage_createur{
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 3px;
}

#createurs li{
    font-size: 0.6em;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
}

label{
    margin-left: 20px;
    margin-top:5%;
    margin-bottom:5%;
    font-size: 16px;
    color: rgb(0,0,0);
    font-family: Avenir, sans-serif;

}

fieldset{
    max-width: 500px; /*réduction du cadre du formulaire à droite*/
    margin: auto;
    background-color: rgb(208,232,255);
    padding:20px;
    margin-bottom: 50px;
}

fieldset p{
    display: flex;
    flex-direction: column;
}

input{
    width: 30%;
    height: 35px;
    margin-left: 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
}

.age{
    width:70px;

}
select{
    margin-left:20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
}

.email{
    width: 200px;
}

.bouton{
    width: 150px;
    margin:auto;
}
.indication{
    font-style: italic;
    padding:20px;
}

.image{
    margin:auto;
}
.noms{
    display: flex;
}
.motpasse{
    display: flex;
}


#motpasseoublie a{
    color:RGBa(160,160,160,1);
    text-decoration: none;
    font-size: 10px;
}

.bouton{
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.bouton_1{
    height: 60px;
    width: 200px;
    margin-bottom: 20px;
    margin-left:-150px;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px grey;
}

.bouton_2{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 150px;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin: auto;
}

.form-group
{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.form-inscription
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.form-inscription input
{
    width: 100%;
}

.btn-submit
{
    margin-left: auto;
    color: #2E1760;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 30px;
    font-size: 25px;
    width: 335px;
    height: 80px;
    margin-bottom: 5%;
    text-transform: uppercase;
    background-color: rgb(208,232,255);
}

/** Boutton CSS**/
.btn-negatif
{
    background-color: #5c0000;
    color: #FFFFFF;
}

.btn-neutral
{
    background-color: #0005d5;
    color: #FFFFFF;
}

.btn-good
{
    background-color: #0d4d00;
    color: #FFFFFF;
}
.btn-black
{
    background-color: #000000;
    color: #FFFFFF;
}
.btn
{
    margin: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    border: none;
    width: auto;
}


/** CSS pour l'envoie de Tickets**/

.center{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.ticket-formulaire textarea
{
    width: 40vw;
    height: 25vh;
    margin-left: 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
}

h1
{
    text-align: center;
}

.ticket-formulaire
{
    max-width: 45vw;
    overflow-wrap: break-word;
}

.mes-tickets
{
    border: #000;
    border-collapse: collapse;

}

.mes-tickets  td, .mes-tickets th
{
    text-align: center;
    width: auto;
    padding: 5px 10px;
    margin: 0;
    border: solid #000000;
}
.tickets-tableau-niveau-problem-Inconnu
{
    background-color: #383838;
}

.tickets-tableau-niveau-problem-Bas
{
    background-color: #028800;
}

.tickets-tableau-niveau-problem-Moyen
{
    background-color: #d06000;
}

.tickets-tableau-niveau-problem-Haut
{
    background-color: #b8000c;

}

.tickets-tableau-niveau-problem-Critique
{
    background-color: #380004;
}

.mes-tickets th
{
    color: #FFFFFF;
    background-color: #1a1141;
}

.mes-tickets-td-2
{
   background-color:  rgb(208,185,255);
}

.ticket-individuel
{
   display: flex;
    flex-direction: column;
    padding: 1vw;
    max-width: 40vw;
    border: solid black 5px;
}

.ticket-contenue
{
    min-width: 50%;
    padding: 1vw;
    background-color: rgba(82, 82, 82, 0.53);
    text-align: justify;
}

.btn-repondre
{
    justify-content: center;
    margin: auto;
    font-size: 2em ;
    padding: 0.5em;
}

/** CSS pour la gestion admin **/
.mes-users
{
    border: #000;
    border-collapse: collapse;

}
.mes-users  td, .mes-users th
{
    text-align: center;
    width: auto;
    padding: 5px 10px;
    margin: 0;
    border: solid #000000;
}
.mes-users  td{
	color: #0;
    background-color: #F8B3BC;
}

.mes-users th
{
    color: #FFFFFF;
    background-color: #805B7D;
}

.mes-users-td-2
{
   background-color:  rgb(208,185,255);
}

>>>>>>> Stashed changes:public/CSS/main.css
